In [1]:
import pandas as pd
import pickle

indeed_ratings = pickle.load(open("s_p_indeed_ratings.p", "rb"))
sp_500_ebit_ebitda_prof = pickle.load(open("sp_500_ebit_ebitda_prof_div.p", "rb"))

In [2]:

sp_500_ebit_ebitda_prof.head()

,ticker,Name,Sector,company,financial year end (month),industry code,indicator,Q1-2009,Q2-2009,Q3-2009,...,Q4-2016,Q1-2017,Q2-2017,Q3-2017,Q4-2017,Q1-2018,Q2-2018,Q3-2018,missing data points (source),start date for uninterrupted values
0,MMM,3M Company,Industrials,3M,12,100001,EBIT,803,1191,1478,...,1554,1713,1723,2041,1757,983,NaN,NaN,0,Q1-2008
1,MMM,3M Company,Industrials,3M,12,100001,EBITDA,1074.0,1489.0,1768.0,...,1938.0,2151.0,2103.0,2418.0,2106.0,1365.0,NaN,NaN,0,Q3-2008
2,MMM,3M Company,Industrials,3M,12,100001,Net Profit,518,783,957,...,1155,1323,1583,1429,523,602,NaN,NaN,0,Q1-2008
3,MMM,3M Company,Industrials,3M,12,100001,Dividends,-354,-355,-361,...,-664,-702,-701,-701,-699,-810,NaN,NaN,0,Q3-2008
4,AOS,A.O. Smith Corp,Industrials,Smith A O Corp,12,100001,EBIT,16,33,46,...,114,NaN,128,130,143,128,NaN,NaN,0,Q1-2009

In [4]:
indeed_ratings.head()

,Symbol,Name,Sector,reformatted_names,company_ratings
0,MMM,3M Company,Industrials,3M-Company,4.1
1,AOS,A.O. Smith Corp,Industrials,AO-Smith,3.9
2,ABT,Abbott Laboratories,Health Care,Abbott-Laboratories,4.1
3,ABBV,AbbVie Inc.,Health Care,AbbVie,4.0
4,ACN,Accenture plc,Information Technology,Accenture-plc,4.0

In [6]:
indeed_ratings.rename(columns = {"Symbol":"ticker"}, inplace = True)
indeed_ratings.head()

,ticker,Name,Sector,reformatted_names,company_ratings
0,MMM,3M Company,Industrials,3M-Company,4.1
1,AOS,A.O. Smith Corp,Industrials,AO-Smith,3.9
2,ABT,Abbott Laboratories,Health Care,Abbott-Laboratories,4.1
3,ABBV,AbbVie Inc.,Health Care,AbbVie,4.0
4,ACN,Accenture plc,Information Technology,Accenture-plc,4.0

In [9]:
ratings_df_to_merge = pd.DataFrame()
ratings_df_to_merge["ticker"] = indeed_ratings["ticker"]
ratings_df_to_merge["company_ratings"] = indeed_ratings["company_ratings"]

ratings_and_financial_df = pd.merge(left = sp_500_ebit_ebitda_prof, 
                                    right = ratings_df_to_merge, on = "ticker",
                                   how = "left")

In [10]:
ratings_and_financial_df.head()

,ticker,Name,Sector,company,financial year end (month),industry code,indicator,Q1-2009,Q2-2009,Q3-2009,...,Q1-2017,Q2-2017,Q3-2017,Q4-2017,Q1-2018,Q2-2018,Q3-2018,missing data points (source),start date for uninterrupted values,company_ratings
0,MMM,3M Company,Industrials,3M,12,100001,EBIT,803,1191,1478,...,1713,1723,2041,1757,983,NaN,NaN,0,Q1-2008,4.1
1,MMM,3M Company,Industrials,3M,12,100001,EBITDA,1074.0,1489.0,1768.0,...,2151.0,2103.0,2418.0,2106.0,1365.0,NaN,NaN,0,Q3-2008,4.1
2,MMM,3M Company,Industrials,3M,12,100001,Net Profit,518,783,957,...,1323,1583,1429,523,602,NaN,NaN,0,Q1-2008,4.1
3,MMM,3M Company,Industrials,3M,12,100001,Dividends,-354,-355,-361,...,-702,-701,-701,-699,-810,NaN,NaN,0,Q3-2008,4.1
4,AOS,A.O. Smith Corp,Industrials,Smith A O Corp,12,100001,EBIT,16,33,46,...,NaN,128,130,143,128,NaN,NaN,0,Q1-2009,3.9

In [11]:
ratings_and_financial_df.tail()

,ticker,Name,Sector,company,financial year end (month),industry code,indicator,Q1-2009,Q2-2009,Q3-2009,...,Q1-2017,Q2-2017,Q3-2017,Q4-2017,Q1-2018,Q2-2018,Q3-2018,missing data points (source),start date for uninterrupted values,company_ratings
1964,ZION,Zions Bancorp,Financials,Zions Bancorp,12,104002,Dividends,-26,-25,-23,...,-29,-26,-34,NaN,NaN,NaN,NaN,0,Q1-2009,3.7
1965,ZTS,Zoetis,Health Care,Zoetis,NaN,106005,EBIT,NaN,NaN,NaN,...,NaN,384,465,509,461,NaN,NaN,0,Q1-2012,3.7
1966,ZTS,Zoetis,Health Care,Zoetis,NaN,106005,EBITDA,NaN,NaN,NaN,...,NaN,443.0,523.0,572.0,521.0,NaN,NaN,0,Q1-2012,3.7
1967,ZTS,Zoetis,Health Care,Zoetis,NaN,106005,Net Profit,NaN,NaN,NaN,...,NaN,247,298,81,352,NaN,NaN,0,Q1-2012,3.7
1968,ZTS,Zoetis,Health Care,Zoetis,NaN,106005,Dividends,NaN,NaN,NaN,...,-52,-51,-52,-51,-62,NaN,NaN,0,Q1-2012,3.7

In [13]:
pickle.dump(ratings_and_financial_df, open("ratings_AND_fin_data_ebit_ebitda_div_profit.p", "wb"))

In [15]:
# Handy page on categorical encodings http://pbpython.com/categorical-encoding.html
# pd.get_dummies(obj_df, columns=["body_style", "drive_wheels"], prefix=["body", "drive"]).head()

indeed_ratings_categorical_sectors = pd.get_dummies(indeed_ratings, columns=["Sector"], prefix = ["sector- "])
indeed_ratings_categorical_sectors.head()

,ticker,Name,reformatted_names,company_ratings,sector- _Consumer Discretionary,sector- _Consumer Staples,sector- _Energy,sector- _Financials,sector- _Health Care,sector- _Industrials,sector- _Information Technology,sector- _Materials,sector- _Real Estate,sector- _Telecommunication Services,sector- _Utilities
0,MMM,3M Company,3M-Company,4.1,0,0,0,0,0,1,0,0,0,0,0
1,AOS,A.O. Smith Corp,AO-Smith,3.9,0,0,0,0,0,1,0,0,0,0,0
2,ABT,Abbott Laboratories,Abbott-Laboratories,4.1,0,0,0,0,1,0,0,0,0,0,0
3,ABBV,AbbVie Inc.,AbbVie,4.0,0,0,0,0,1,0,0,0,0,0,0
4,ACN,Accenture plc,Accenture-plc,4.0,0,0,0,0,0,0,1,0,0,0,0